apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ include "postgres-cnpg.fullname" . }}
  annotations:
  {{- if .Values.global.suspend }}
    cnpg.io/hibernation: "on"
  {{- else }}
    cnpg.io/hibernation: "off"
  {{- end }}
spec:
  instances: 1

  storage:
    size: {{ .Values.storage.size }} 

  imageName: {{ .Values.image }}

  bootstrap:
    initdb:
      database: {{ .Values.database }}
      owner: {{ .Values.username }}
      secret:
        name: {{ include "postgres-cnpg.fullname" . }}

  managed:
    services:
      disabledDefaultServices: ["ro"]
